.func {
    background-color: #f2f2f7;
	display: flex;
	height: 100vh;
	justify-content: space-between;

	.left_block {
		background-color: white;
		width: 40%;
		padding: 0 24px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
	}
	.left_block__title {
		font-family: SF Pro Semibold;
		color: #007AFF;
		font-size: 20px;
		margin-top: 36px;
	}

	.left_block__search {
		position: relative;
		left: 0;	
		top: 0;
		margin-top: 18px;
	}

	.left_block__input {
		background: rgba(120, 120, 128, 0.12);
		width: 100%;
		height: 36px;
		border-radius: 10px;
		padding: 0 42px 0 36px; 
		font-family: SF Pro Medium;
		border: none; 
		position: absolute;
		left: 0;
		top: 0;
		box-sizing: border-box;
	}
	.left_block__icon {
		position: absolute;
		background-image: url("@/assets/img/search.svg");
		height: 24px;
		margin-top: 8px;
		margin-left: 6px;
		width: 24px;
		background-repeat: no-repeat;
	}
	.left_block__input::placeholder {
		font-family: SF Pro Medium;
		color: rgba(60, 60, 67, 0.6);
	}
	.left_block__text-container {
		margin-top: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		overflow-y: auto;
		padding-bottom: 20px;
		gap: 20px;
		flex-grow: 1;
	}
	.left_block__text {
		font-family: SF Pro Semibold;
		font-size: 14px;
		color: rgb(0, 122, 255);
    	text-align: center;
		top: 50%;
	}
	.left_block__button {
		border-radius: 10px;
		width: 100%;
		height: 50px;
		font-family: SF Pro Semibold;
		font-size: 14px;
		background-color: rgb(0, 122, 255);
		font-family: SF Pro Semibold;
		color: white;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.right_block {
		margin: 31px 24px 47px 24px;
		border-radius: 20px;
		background-color: white;
		width: 55%;
		overflow-y: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 20px;
		padding: 20px;
	}
}
